body {
   background-color: #EEE;
   font-family: Helvetica, Arial, san-serif;
}

a {
   text-decoration: none;
   color: blue;
}

h1, h2, h3 {
   margin: 0;
}

#header {
   background-color: #006600;
   color: white;
   text-align: center;
   padding: 10px;
}

#container {
   background-color: white;
   width: 1000px;
   margin-left: auto;
   margin-right: auto;
}
